h3.aside__block-header
	|Instagram
.aside-posts--instagram
	+instagram('#!','img/instagram/insta-01.jpg')
	+instagram('#!','img/instagram/insta-02.jpg')
	+instagram('#!','img/instagram/insta-03.jpg')
	+instagram('#!','img/instagram/insta-04.jpg')
	+instagram('#!','img/instagram/insta-05.jpg')
	+instagram('#!','img/instagram/insta-06.jpg')
	+instagram('#!','img/instagram/insta-07.jpg')
	+instagram('#!','img/instagram/insta-08.jpg')
	+instagram('#!','img/instagram/insta-09.jpg')
	+instagram('#!','img/instagram/insta-10.jpg')