h3.aside__block-header
	|Recent posts
+aside-post("#!","Austin DIY sriracha polaroid sartorial la croix.")(style= "background:no-repeat center/cover url('img/small-thumbs/01.jpg')")
+aside-post("#!","Austin DIY sriracha polaroid sartorial la croix.")(style= "background:no-repeat center/cover url('img/small-thumbs/02.jpg')")
+aside-post("#!","Austin DIY sriracha polaroid sartorial la croix.")(style= "background:no-repeat center/cover url('img/small-thumbs/03.jpg')")
+aside-post("#!","Austin DIY sriracha polaroid sartorial la croix.")(style= "background:no-repeat center/cover url('img/small-thumbs/04.jpg')")
+aside-post("#!","Austin DIY sriracha polaroid sartorial la croix.")(style= "background:no-repeat center/cover url('img/small-thumbs/05.jpg')")