.footer
	.container
		.footer__content
			nav.nav
				.nav__row
					a(href="#!").row-item
						|Latest Posts
					a(href="#!").row-item
						|Search
					a(href="#!").row-item
						|Privacy Policy
				.nav__row
					a(href="#!").row-item
						|Popular Posts
					a(href="#!").row-item
						|Contact Information
					a(href="#!").row-item
						|Terms of use
			.social-icons.footer-icons
				a(href="#!").link.social-link
					img(src="img/icons/social/instagram.svg", alt="").icon
				a(href="#!").link.social-link
					img(src="img/icons/social/twitter.svg", alt="").icon
				a(href="#!").link.social-link
					img(src="img/icons/social/facebook-f.svg", alt="").icon
	.footer-copyright
		|&copy; Copyright 2019. All rights reserved.