header.header
	.header__content
		.social-icons
			a(href="#!").social-link
				img(src="img/icons/social/instagram.svg", alt="").icon
			a(href="#!").social-link
				img(src="img/icons/social/twitter.svg", alt="").icon
			a(href="#!").social-link
				img(src="img/icons/social/facebook-f.svg", alt="").icon
		h1.header-logo Hipsum Blog
		.header__options
			+btn(class= "btn search-btn header__options-link")
			+btn("Subscribe","#!")(class= "btn subscribe-btn header__options-link")