*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: $base-color;
    font-family: $montserrat;
    font-weight: 400;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}
