$base-color: black;
$btn-main-color: #375573;
$btn-main-color-hover: #307dc9;
$btn-text-color: #ffffff;
$link-color-hover: $btn-main-color-hover;
$post-header-color: #1a1a1a;
$post-date-color: #b0b0b0;
