.header {
    max-width: 1600px;
    min-width: 1170px;
    margin: 0 auto;
    padding: 45px 0;
    border-bottom: solid 1px #dde2e7;
}

.header-logo {
    font-family: $exo-2;
    font-size: 3.8rem;
}

.header__content {
    margin: 0 60px;
    display: flex;
    justify-content: space-between;
}

.header__options {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__options-link + .header__options-link {
        margin-left: 35px;
    }
}

.subscribe-btn {
    height: 38px;
    line-height: 38px;
    border-radius: 19px;
}
