.btn {
    background-color: $btn-main-color;
    border: none;
    cursor: pointer;
    height: 44px;
    padding: 0 30px;
    border-radius: 6px;
    font-family: $montserrat;
    font-size: 1.2rem;
    letter-spacing: 1.24px;
    color: $btn-text-color;
    text-align: center;
    line-height: 44px;
    text-transform: uppercase;
    transition: 0.3s ease-in;

    &:hover {
        background-color: $btn-main-color-hover;
    }

    &.search-btn {
        background: transparent no-repeat center/cover
            url(../img/icons/search.svg);

        width: 25px;
        height: 25px;
        padding: 0;
        transition: 0.2s ease-in;
        &:hover {
            opacity: 0.5;
        }
    }

    &.subscribe-btn {
        height: 38px;
        line-height: 38px;
        border-radius: 19px;
    }
}
