.post {
    padding-bottom: 40px;
    border-bottom: solid 1px #dde2e7;
    & + & {
        padding-top: 55px;
    }
}

.post-header {
    margin-bottom: 20px;
    font-size: 3.3rem;
    font-family: $playfair-display;
    text-align: center;
    color: $post-header-color;

    &.aside-header {
        font-size: 1.8rem;
        margin-bottom: 15px;
        &:hover {
            text-decoration: underline;
        }
    }
}

.post-date {
    margin-bottom: 35px;
    font-size: 1.4rem;
    font-family: $montserrat;
    font-weight: 700;
    text-align: center;
    color: $post-date-color;
    text-transform: uppercase;

    &.aside-date {
        font-size: 1.2rem;
        font-weight: 700;
    }
}

.post-img {
    margin-bottom: 35px;
}

.post-text {
    margin-bottom: 25px;
    font-family: $montserrat;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.75;
    p {
        margin: 5px 0;
    }
}

.post-nav {
    display: flex;
    justify-content: space-between;
}

.post-link {
    display: block;
}
